### Import libraries

In [13]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import re

### Read the .csv file and display data

In [14]:
Cars= pd.read_csv('/Users/jonathan/Documents/Cars.csv');
Cars.head()

,Name,Price,Mileage,Miles_Away,Phone_Number,Dealership_Name
0,Used 2016 GMC Yukon SLE,"32,982","36,845 miles",(1007 mi. away),NaN,North Country Buick Caddillac GMC (1007 mi. away)
1,Used 2016 GMC Yukon 4WD Denali,"45,500\nEst. Finance Payment: $588/mo.","32,222 miles",(1186.3 mi. away),NaN,Lavery Automotive Sales & Service (1186.3 mi a...
2,Used 2015 GMC Yukon 2WD Denali,"34,498","78,056 miles",(1.8 mi. away),NaN,4M Autoplex (1.8 mi. away)
3,Used 2015 GMC Yukon 2WD Denali,"33,499","80,435 miles",(2.9 mi. away),NaN,Honda of Abilene (2.9 mi. away)
4,Used 2015 GMC Yukon 4x4 Denail,"33,750","83,293 miles",(3.3 mi. away),NaN,Lawrence Hall Lincoln Mazda (3.3 mi. away)

### Rename columns

In [15]:
Cars = Cars.rename(columns={'Name': 'Make_and_Model'})
Cars = Cars.rename(columns={'Miles_Away': 'Location'})
Cars = Cars.rename(columns={'Dealership_Name': 'Dealership'})
Cars = Cars.rename(columns={'Phone_Number': 'Phone Number'})
Cars.head()

,Make_and_Model,Price,Mileage,Location,Phone Number,Dealership
0,Used 2016 GMC Yukon SLE,"32,982","36,845 miles",(1007 mi. away),NaN,North Country Buick Caddillac GMC (1007 mi. away)
1,Used 2016 GMC Yukon 4WD Denali,"45,500\nEst. Finance Payment: $588/mo.","32,222 miles",(1186.3 mi. away),NaN,Lavery Automotive Sales & Service (1186.3 mi a...
2,Used 2015 GMC Yukon 2WD Denali,"34,498","78,056 miles",(1.8 mi. away),NaN,4M Autoplex (1.8 mi. away)
3,Used 2015 GMC Yukon 2WD Denali,"33,499","80,435 miles",(2.9 mi. away),NaN,Honda of Abilene (2.9 mi. away)
4,Used 2015 GMC Yukon 4x4 Denail,"33,750","83,293 miles",(3.3 mi. away),NaN,Lawrence Hall Lincoln Mazda (3.3 mi. away)

### Split the information in the "Name" (changed to "Make_and_Model") column

In [16]:
def get_regex_item(name, pattern):
    item = re.search(pattern, name)
    if item is None:
        return None
    else:
        return item.group()

In [17]:
Cars['Trim'] = Cars.Make_and_Model.apply(lambda x: x.split()[-1])
Cars['Year'] = Cars.Make_and_Model.apply(lambda x: get_regex_item(x, pattern= r'\d{4}'))
Cars['Condition'] = Cars.Make_and_Model.apply(lambda x: get_regex_item(x, pattern= r'Used'))

Cars.head()

,Make_and_Model,Price,Mileage,Location,Phone Number,Dealership,Trim,Year,Condition
0,Used 2016 GMC Yukon SLE,"32,982","36,845 miles",(1007 mi. away),NaN,North Country Buick Caddillac GMC (1007 mi. away),SLE,2016,Used
1,Used 2016 GMC Yukon 4WD Denali,"45,500\nEst. Finance Payment: $588/mo.","32,222 miles",(1186.3 mi. away),NaN,Lavery Automotive Sales & Service (1186.3 mi a...,Denali,2016,Used
2,Used 2015 GMC Yukon 2WD Denali,"34,498","78,056 miles",(1.8 mi. away),NaN,4M Autoplex (1.8 mi. away),Denali,2015,Used
3,Used 2015 GMC Yukon 2WD Denali,"33,499","80,435 miles",(2.9 mi. away),NaN,Honda of Abilene (2.9 mi. away),Denali,2015,Used
4,Used 2015 GMC Yukon 4x4 Denail,"33,750","83,293 miles",(3.3 mi. away),NaN,Lawrence Hall Lincoln Mazda (3.3 mi. away),Denail,2015,Used

### Filter out and rearrange data depending on how important and needed to describe the vehicle

In [18]:
Cars = Cars[['Make_and_Model', 'Year', 'Trim','Condition', 'Mileage', 'Price', 'Dealership']]
Cars.head()

,Make_and_Model,Year,Trim,Condition,Mileage,Price,Dealership
0,Used 2016 GMC Yukon SLE,2016,SLE,Used,"36,845 miles","32,982",North Country Buick Caddillac GMC (1007 mi. away)
1,Used 2016 GMC Yukon 4WD Denali,2016,Denali,Used,"32,222 miles","45,500\nEst. Finance Payment: $588/mo.",Lavery Automotive Sales & Service (1186.3 mi a...
2,Used 2015 GMC Yukon 2WD Denali,2015,Denali,Used,"78,056 miles","34,498",4M Autoplex (1.8 mi. away)
3,Used 2015 GMC Yukon 2WD Denali,2015,Denali,Used,"80,435 miles","33,499",Honda of Abilene (2.9 mi. away)
4,Used 2015 GMC Yukon 4x4 Denail,2015,Denail,Used,"83,293 miles","33,750",Lawrence Hall Lincoln Mazda (3.3 mi. away)

### Created a new dataframe

In [19]:
new_dataframe = pd.DataFrame(
    {
        "Make and Model": ['GMC Yukon', 'GMC Yukon 4WD', 'GMC Yukon 2WD', 'GMC Yukon 2WD', 'GMC Yukon 4X4']
}
)
new_dataframe

  Make and Model
0      GMC Yukon
1  GMC Yukon 4WD
2  GMC Yukon 2WD
3  GMC Yukon 2WD
4  GMC Yukon 4X4

### Merged the new dataframe and existing dataframe.

In [20]:
Cars2 = pd.concat([Cars, new_dataframe], axis=1, join='inner')
Cars2

,Make_and_Model,Year,Trim,Condition,Mileage,Price,Dealership,Make and Model
0,Used 2016 GMC Yukon SLE,2016,SLE,Used,"36,845 miles","32,982",North Country Buick Caddillac GMC (1007 mi. away),GMC Yukon
1,Used 2016 GMC Yukon 4WD Denali,2016,Denali,Used,"32,222 miles","45,500\nEst. Finance Payment: $588/mo.",Lavery Automotive Sales & Service (1186.3 mi a...,GMC Yukon 4WD
2,Used 2015 GMC Yukon 2WD Denali,2015,Denali,Used,"78,056 miles","34,498",4M Autoplex (1.8 mi. away),GMC Yukon 2WD
3,Used 2015 GMC Yukon 2WD Denali,2015,Denali,Used,"80,435 miles","33,499",Honda of Abilene (2.9 mi. away),GMC Yukon 2WD
4,Used 2015 GMC Yukon 4x4 Denail,2015,Denail,Used,"83,293 miles","33,750",Lawrence Hall Lincoln Mazda (3.3 mi. away),GMC Yukon 4X4

### Deleted an exisiting column that was no longer needed and rearranged the columns once more

In [21]:
Cars2 = Cars2[['Make and Model', 'Year', 'Trim','Condition', 'Mileage', 'Price', 'Dealership']]
Cars2.head()

,Make and Model,Year,Trim,Condition,Mileage,Price,Dealership
0,GMC Yukon,2016,SLE,Used,"36,845 miles","32,982",North Country Buick Caddillac GMC (1007 mi. away)
1,GMC Yukon 4WD,2016,Denali,Used,"32,222 miles","45,500\nEst. Finance Payment: $588/mo.",Lavery Automotive Sales & Service (1186.3 mi a...
2,GMC Yukon 2WD,2015,Denali,Used,"78,056 miles","34,498",4M Autoplex (1.8 mi. away)
3,GMC Yukon 2WD,2015,Denali,Used,"80,435 miles","33,499",Honda of Abilene (2.9 mi. away)
4,GMC Yukon 4X4,2015,Denail,Used,"83,293 miles","33,750",Lawrence Hall Lincoln Mazda (3.3 mi. away)

The original untidy data set was provided by me in a Discussion Post. The information under the "Name" of the vehicles column was split. There was a lot of information under "Name" like the Make and Model, the year, the trim, and the condition. The new dataframe also only includes the information needed like the Mileage, Price and Dealership the vehicle is locating in. The data to compare vehicles is easier, quicker and neater to read.